/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: mat.$violet-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

// Apply the theme's surface background and on-surface text colors
body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
}

html {
  height: 100%;
}

.full-width {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
}

mat-card {
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1) !important;
}

mat-card-header {
  margin-bottom: 30px;
}
